.slider-container {
  display: flex;
  align-items: "center";
  width: 100%;
}

.img-title {
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}

.img-style {
  position: relative;

  /* Custom variable */
  /* background-color: var(--custom-color); */
}

.img-style:hover {
  border: 3px solid #0a6ebd;
}

.img-cont {
  height: 30vh;
  padding-top: 10px;
  padding-left: 10px;
}

.card-color {
  background-color: #11122b !important;
  color: white !important;
}

.card-media {
  cursor: pointer;
  max-width: 100%;
  height: 18rem;
}
