.containers-style {
  margin-top: 20px;
  background-color: #2e2f5e;
}

.tech-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-cont {
  transition: all 0.2s ease-in-out;
}

.skill-cont:hover {
  transform: scale(1.4);
}

@media only screen and (min-width: 1000px) {
  .tech-cont {
    flex-wrap: nowrap;
  }
}
